.adminMenuItem {
    font-size: 25px;
    padding-bottom: 10px;
    color: black;
}

.adminMenu {
    padding: 20px;
    text-align: center;
}

.adminMenuItem a:hover {
    text-decoration: underline;
}

/* ORDERS */

.ordersContent {
    margin-bottom: 300px;
    margin-top: 20px;
}

.ordersCol {
    float: left;
}

.ordersRow:hover {
    background: #f3f3f3;
    cursor: pointer;
}

.ordersRow {
    width: 100%;
    height: 20px;
    border-bottom: 1px dashed gainsboro;
    font-size: 14px;
    padding: 10px 10px 10px 10px;
    display: table;
    background: #fff1f1;
}

.delivered {
    background: #bcffbe;
}

.orderRowTitle {
    font-weight: bold;
    background: white;
}

.ordersColId {
    width: 90px;
}

.ordersColName {
    width: 180px;
}

.ordersColPhone {
    width: 130px;
}

.ordersColCount {
    width: 60px;
}

.ordersColPrice {
    width: 150px;
}

.ordersColDiscount {
    width: 150px;
}

.ordersColItog {
    width: 150px;
}

.orderProductTotalTitle span {
    color: red;
    font-weight: bold;
}

.orderProductTotalTitle {
    font-size: 22px;
}

.orderProductTotalContent {
    font-size: 20px;
    font-family: aria;
    margin-top: 20px;
    width: 600px;
}

.orderProductTotalContent > div > span {
    color: #960051;
    font-weight: bold;
}

.ordersTitle {
    font-weight: bold;
    font-size: 30px;
    border-bottom: 1px solid black;
    margin-bottom: 5px;
}

.orderProductDeliveredBtn span {
    line-height: 38px;
    cursor: pointer;
    text-align: center;
}

.orderProductDeliveredBtn {
    float: right;
    border-radius: 5px;
    width: 170px;
    height: 40px;
    background: #e60808;
    color: white;
    cursor: pointer;
    text-align: center;
}

.deliveredBtn {
    background: #008c11;
}

.addInput {
    padding: 10px;
    margin-bottom: 15px;
    width: 100%;
    font-size: 18px;
    font-family: arial;
}

.addBlock {
    width: 300px;
    margin: 0 auto;
    padding: 30px;
}