.cartContainer {
    height: auto;
    overflow: auto;
    margin-bottom: 350px;
}

.cartContent {
    margin-top: 20px;
}

.cartTitle {
    margin-bottom: 15px;
    color: #ec0000;
    font-size: 20px;
    font-weight: bold;
}

.cartProductContainer {
    height: 120px;
    width: 100%;
    padding-top: 10px;
}

.cartProductContent {
    border-top: 1px solid darkgrey;
    padding-top: 10px;
}

.cartProductContent > div{
    float: left;
}


.cartImgProduct img {
    width: 100px;
    height: 100px;
}
.cartImgProduct {
    width: 200px;
}

.cartDescription {
    width: 400px;
}

.cartCountProduct {
    width: 70px;
}

.delCartProduct {
    width: 40px;
}

.cartPriceSumm {
    font-size: 13px;
    text-align: right;
}

.cartPriceTotal {
    font-size: 18px;
    color: #960051;
}

.cartPriceTotalOld {
    text-decoration: line-through;
    font-size: 14px;
    text-align: right;
}

.cartProductPrice {
    font-weight: bold;
    color: #ef0000;
    font-size: 24px;
    padding: 2px 0px 0px 10px;
}

.cartProductPriceOld {
    color: black;
    text-decoration: line-through;
    padding: 2px 0px 0px 10px;
    font-size: 15px;
}

.cartNameProduct {
    color: black;
    font-size: 19px;
}

.cartBrandProduct {
    font-size: 16px;
}

.cartPriceProduct {
    float: right !important;
    font-family: Arial,sans-serif;
}

.cartVolumeProduct {
    padding-top: 20px;
    color: black;
    font-size: 12px;
}

.cartProductTitle > div {
    float: left;
}

.cartProductTitle {
    height: auto;
    overflow: auto;
}

.cartProductTitleName {
    margin-left: 239px;
}

.cartProductTitleCount {
    margin-left: 260px;
}

.cartProductTitlePrice {
    margin-left: 170px;
}

.cartTotalContent {
    width: 250px;
    font-family: Arial,sans-serif;
    float: left;
}

.cartTotalTitle {
    font-size: 20px;
    color: black;
    border-bottom: 1px solid gray;
    padding-bottom: 5px;
}

.cartTotalContent > div {
    padding-bottom: 8px;
}

.cartTotalContent span {
    color: black;
}

.cartTotalCount {
    margin-top: 10px;
}

.cartTotalPrice span {
    color: #960051;
    font-weight: bold;
    font-size: 20px;
}

.cartTotalBtnOrder label{
    line-height: 38px;
    cursor: pointer;
}

.cartTotalBtnOrder {
    border-radius: 5px;
    width: 170px;
    height: 40px;
    background: #e60808;
    color: white;
    cursor: pointer;
    text-align: center;
}

.cartTotalOrder {
    margin-top: 10px;
}

.delCartBtn {
    border: 2px solid gray;
    width: 23px;
    height: 20px;
    padding-bottom: 3px;
    text-align: center;
    border-radius: 4px;
    color: gray;
    cursor: pointer;
}

.delCartBtn:hover {
    border: 2px solid black;
    color: black;
}

.cartTotalContainer {
    margin-top: 30px;
}

.cartClear {
    float: right;
}

.cartClearBrn span {
    text-decoration: underline;
    cursor: pointer;
    font-size: 17px;
    font-weight: normal;
}

.cartTotalOrderName input, .cartTotalOrderPhone input {
    padding: 4px;
}

.cartOrderNotice {
    color: red;
    font-weight: bold;
}

.cartTotalBtnOrderDisable {
    background: #8a8a8a;
}
