html, body {
    background-color: #fff;
    color: #4c4c4c;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

a:-webkit-any-link {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.banner {
    color: rgba(255, 255, 255, 0.99) !important;
    background-color: rgb(0, 0, 0) !important;
    font-family: CarismaClassic-Regular !important;
    border-width: 0px !important;
    height: 60px;
    text-align: center;
    width: 920px;
    margin: 0 auto;
}

.content {
    width: 920px;
    margin: 0 auto;
    height: auto;
    overflow: auto;
}

.footerPush {
    height: 300px;
}

.bannerPromo {
    font-size: 25px;
    color: red;
}

.bannerText {
    font-size: 22px;
    padding-top: 13px;
}

.container {
    height: auto;
    min-height: 100%;
}

.footer {
    background-color: black;
    height: 300px;
    margin-top: -300px;
}

.footerContent {
    width: 920px;
    margin: 0 auto;
    padding-top: 35px;
}

.footerColumn {
    width: 270px;
    float: left;
}

.brandColumn {
    width: 280px;
    float: left;
    font-size: 22px;
}

.brandsContainer {
    padding-top: 20px;
    height: 100%;
}

.brandColumn a:hover {
    color: red;
}

/*  productscontainer   */

.productBlock {
    width: 220px;
    height: 365px;
    float: left;
}

.productImg {
    width: 180px;
    height: 220px;
}

.productImg img {
    width: inherit;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid gainsboro;
    border-radius: 10px;
}

.productBrand {
    font-size: 10px;
    padding: 10px 0px 0px 10px;
}

.productName {
    color: black;
    font-weight: bold;
    padding: 2px 0px 0px 10px;
}

.productConcentration {
    font-size: 14px;
    padding: 2px 0px 0px 10px;
}

.productPrice {
    font-weight: bold;
    color: #ef0000;
    font-size: 24px;
    padding: 2px 0px 0px 10px;
}

.productPrice label {
    font-size: 14px;
    font-weight: normal;
    color: #313131;
}

.productContent {
    margin: 0 auto;
    width: 185px;
}

.productContainer {
    height: auto;
    padding: 5px 0px 20px 25px;
    border-top: 1px solid;
    margin-top: 25px;
    overflow: auto;
    margin-bottom: 300px;
}

.productHeader {
    margin-bottom: 15px;
    color: #ec0000;
    font-size: 20px;
    font-weight: bold;
}

.productPriceOld {
    color: black;
    text-decoration: line-through;
    padding: 2px 0px 0px 10px;
    font-size: 15px;
}

.productPriceOld label {
    color: black;
    text-decoration: none;
}

.errorPageContent img {
    width: 300px;
    position: absolute;
}

.errorPageContent {
    padding-top: 30px;
    padding-left: 100px;
}

.errorPageTitle p {
    font-size: 20px;
}

.errorPageTitle label {
    font-size: 125px;
    font-weight: bold;
    color: #e60000;
    text-align: center;
}

.errorPageTitle span {
    font-size: 30px;
}

.errorPageTitle {
    text-align: center;
    padding-left: 100px;
    font-family: monospace;

}

.loginBlock {
    width: 300px;
    margin: 0 auto;
    padding: 30px;
}

.RegisterBlock {
    width: 300px;
    margin: 0 auto;
    padding: 30px;
}

.loginTitle {
    font-size: 20px;
    padding-bottom: 10px;
}

.loginContent input {
    padding: 10px;
    margin-bottom: 15px;
    width: 100%;
    font-size: 18px;
    font-family: arial;
}

.loginButtons > div:hover {
    color: black;
    background: white;
    cursor: pointer;
}

.loginButtons > div {
    border: 1px solid;
    padding: 8px 0;
    color: white;
    background: black;
    width: 100%;
    text-align: center;
    margin-bottom: 7px;
}

.RegisterBlock {
    display: none;
}

