.navMenu {
    width: 100%;
    background-color: black;
}

.contentMenu {
    width: 920px;
    margin: 0px auto;
}

.lowerBarMenu {
    background-color: white;
}

.lowerBarMenuColumns {
    display: table;
    margin: 10px auto;
}

.lowerBarMenu .lowerBarColumn {
    display: table-cell;
    vertical-align: middle;
}

.titleMenu {
    font-size: 24px;
    padding-top: 10px;
}

ul.listMenu {
    display: flex;
    padding-top:20px;
    color: #c7c7c7;
}

ul.listMenu li {
    display: inline;
    list-style-type: none;
    flex-basis: auto;
    flex-grow: 1;
    background: #000;
    text-align: center;
    cursor: pointer;
}

.dropDownMenu {
    position: absolute;
    width: 820px;
    background: white;
    margin: 0px;
    min-height: 125px;
    max-height: 300px;
    overflow: hidden;
    padding: 0px 50px;
    display: none;
    z-index: 99999999;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
}

.dropDownMenu ul {
    list-style: none;
    height: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.dropDownMenu li {
    list-style-type: none;
    cursor: pointer;
    width: 180px;
}

.searchQueryMenu {
    font-family: CarismaClassic-Regular !important;
    width: 200px;
    height: 30px;
    outline: none;
    padding-left: 5px;
    padding-right: 35px;
    float: right;
    margin-right: 120px;
    margin-top: 10px;
    border: 1px solid gray;
}

.searhButtonMenu {
    position: absolute;
    height: 20px;
    padding: 4px;
    margin-left: 350px;
    margin-top: 10px;
    cursor: pointer;
}

.contactsMenu {
    padding-top: 8px;
    float: right;
}


.titleMenu a {
    text-decoration: none;
    color: inherit;
}

.dropDownMenu li:hover {
    color: red;
}