.productCardImg {
    width: 280px;
    float: left;
}

.productCardBar {
    float: right;
    width: 600px;
}

.productCardRow {
    width: 100%;
    height: auto;
}

.productCardName p {
    margin: 0px;
}

.productCardName, .productCardPrice, .productCardAction {
    width: 200px;
    float: left;
}

.productCradRowContent {
    height: 85px;
    padding-top: 10px;
}

.productCardVolume label {
    font-size: 12px;
    position: absolute;
}

.productCardVolume {
    height: 70px;
    border-top: 1px solid;
    padding-top: 10px;
}

.productCardBrand {
    font-weight: bold;
}

.productCardConcentration {
    font-size: 12px;
    color: gray;
}

.productCardDescription p {
    margin-top: 0px;
    font-weight: bold;
}

.productCardDescription {
    padding: 10px;
    border: 1px solid #ececec;
    border-radius: 6px;
}

.productCardPriceCount {
    font-size: 14px;
    float: left;
    margin-right: 40px;
}

.productCardPriceCountNumber input{
    width: 40px;
    padding: 2px 0px 2px 5px;
}

.productPriceOld {
    padding: 0px;
    margin-top: -10px;
}

.discountPrice {
    color: red;
    font-size: 20px;
    font-weight: bold;
}

.productCardPrice label {
    font-size: 14px;
    font-weight: normal;
    color: #313131;
}

.productCardPriceCost {
    margin-top: 10px;
}

.productCardTitle {
    font-size: 16px;
}

.productSaleIcon {
    position: absolute;
    color: red;
    font-weight: bold;
    font-size: 25px;
    font-style: oblique;
}

.productAddCartButton {
    border-radius: 10px;
    width: 200px;
    height: 50px;
    background: #e60808;
    color: white;
    cursor: pointer;
}

.productAddCartButton:hover {
    background: red;
}

.productAddCartButton span {
    padding-left: 40px;
    line-height: 50px;
    background: url(../img/icons/basket.png) no-repeat;
    background-position: 15px;
}

.productCardVolumeValue {
    border: 1px solid gray;
    width: 65px;
    height: 30px;
    border-radius: 5px;
    line-height: 30px;
    padding-left: 12px;
    margin-top: 22px;
    float: left;
    margin-right: 20px;
    cursor: pointer;
}

.selectedVolume {
    background: #9c9c9c;
    color: white;
}