.salesProduct {
    width: 220px;
    height: 335px;
    float: left;
    margin-bottom: 25px;
}

.salesImg {
    width: 180px;
    height: 220px;
}

.salesImg img {
    width: inherit;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid gainsboro;
    border-radius: 10px;
}

.salesBrand {
    font-size: 10px;
    padding: 10px 0px 0px 10px;
}

.salesName {
    color: black;
    font-weight: bold;
    padding: 2px 0px 0px 10px;
}

.salesConcentration {
    font-size: 14px;
    padding: 2px 0px 0px 10px;
}

.salesPriceOld {
    color: black;
    text-decoration: line-through;
    padding: 2px 0px 0px 10px;
    font-size: 15px;
}

.salesPrice {
    font-weight: bold;
    color: #ef0000;
    font-size: 24px;
    padding: 2px 0px 0px 10px;
}

.salesPrice label {
    font-size: 14px;
    font-weight: normal;
    color: #313131;
}

.salesProductContent {
    margin: 0 auto;
    width: 185px;
}

.salesContainer {
    height: 100%;
    padding: 5px 0px 20px 25px;
    border-top: 1px solid;
    margin-top: 25px;
}

.salesHeader {
    margin-bottom: 15px;
    color: #ec0000;
    font-size: 20px;
    font-weight: bold;
}