.storeContainer {
    margin-top: 20px;
    height: auto;
    width: 100%;
    min-height: 1400px;
    overflow: auto;
}

.storeFiltersConteiner {
    width: 180px;
    float: left;
    margin-top: 25px;
}

.storeFilter {
    height: 200px;
    border-top: 2px solid #c5c5c5;
    padding: 5px 10px;
}

.storeFiltersValues {
    height: 140px;
    overflow: auto;
    background: #f3f3f3;
    padding: 10px 10px;
    margin-top: 5px;
    padding: 10px 0px 10px 10px;
    font-size: 10px;
}

.storeFiltersItem {
    padding-bottom: 3px;
}

.storeContent {
    width: 700px;
    min-height: 600px;
    height: auto;
    float: left;
    margin-left: 40px;
    overflow: auto;
}

.storeFiltersPriceRange {
    width: 50px;
}

.storeFiltersPrice {
    height: 80px;
}

.storeFiltersApply {
    border-radius: 10px;
    width: 175px;
    height: 40px;
    background: #e60808;
    color: white;
    cursor: pointer;
}

.storeFiltersApply span {
    padding-left: 40px;
    line-height: 40px;
    background-position: 15px;
}

.storeFiltersContent {
    margin-top: 10px;
}